* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  /* font-family: 'Kanit', sans-serif; */
  font-family: 'Rubik', sans-serif;
  background-color: white;

}

a {

  text-decoration: none;
  color: #f8f8f8;

}

li {

  list-style: none;

}

.navbar {

  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  color: black;
  background-color: white;
  border-bottom: 5px solid rgb(121, 121, 121);
  /* background: hsla(236, 100%, 8%, 1);
  background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%); */

}

.nav-links a {

  color: black;
  font-weight: 500;

}

/* LOGO */

.logo {

  font-size: 32px;
  font-weight: 600;
  color: black;

}

/* NAVBAR MENU */

.menu {

  display: flex;
  gap: 1em;
  font-size: 18px;

}

.menu li:hover {

  background-color: rgba(0, 0, 255, 0.966);
  border-radius: 5px;
  transition: 0.3s ease;

  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #d8ddff 0 -1px 0 inset;
  transform: translateY(-1px);


}

.menu li {

  padding: 5px 14px;

}


input[type=checkbox] {

  display: none;

}

/*HAMBURGER MENU*/

.hamburger {

  display: none;
  font-size: 24px;
  user-select: none;

}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .menu {

    display: none;
    position: absolute;
    color: rgb(1, 33, 178);
    background-color: rgb(33, 33, 33);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;

  }

  .menu li:hover {

    display: inline-block;
    background-color: rgba(0, 0, 202, 0.966);
    transition: 0.3s ease;

  }

  .menu li+li {

    margin-top: 12px;

  }

  input[type=checkbox]:checked~.menu {

    display: block;

  }

  .hamburger {

    display: block;

  }
}

.quote {
  font-size: 1.25rem;
}